In [1]:
l= [3,4,44,5,66,7]
#using inbuilt function, find the largest number in the list

print(max(l))

66

In [2]:
l= [3,4,44,5,66,7]
# without using inbuilt function

largest=0
for i in l:
    if largest<i:
        largest=i
print(largest)

66

In [3]:
#using inbuilt function, find the lowest
l= [3,4,44,5,66,7]
print(min(l))

3

In [4]:
#without using inbuilt function, find the lowest
l= [18,4,44,5,66,7]

lowest= l[0]

for i in l:
    if lowest>i:
        lowest= i
print(lowest)

4

In [5]:
#interchange the first and the last element in a list

l= [18,4,44,5,66,7]

l[0],l[-1]= l[-1],l[0]
print(l)

[7, 4, 44, 5, 66, 18]

In [7]:
# swap the places of 5 and 66 in the list
l= [18,4,44,5,66,7]
l.index(5),l.index(66)
l[3],l[4]= l[4],l[3]
print(l)

[18, 4, 44, 66, 5, 7]

In [10]:
# reverse the list using inbuilt function
l= [18,4,44,5,66,7]
l.reverse()
print(l)

[7, 66, 5, 44, 4, 18]

In [ ]:
# reverse the list without using inbuilt function
l= [18,4,44,5,66,7]

l2=[]
for i in range(len(l)-1,-1,-1):
    l2.append(l[i])

print(l2)

[7, 66, 5, 44, 4, 18]

In [13]:
# reverse a list without using another list or inbuilt function

l= [18,4,44,5,66,7]
list_1= l[::-1]
print(list_1)

[7, 66, 5, 44, 4, 18]

In [16]:
# find the sum of elements in the list using inbuilt function

l= [18,4,44,5,66,7]
sm= sum(l)
print(sm)

144

In [17]:
# find the sum of elements in the list without using inbuilt function

l= [18,4,44,5,66,7]
sm=0
for i in l:
    sm= sm+i
print(sm)

144

In [18]:
# find the average
l= [18,4,44,5,66,7]
sm= 0
for i in l:
    sm=sm+i
av= sm/len(l)
print(av)

24.0

In [22]:
# find the even numbers in the list
l= [18,4,44,5,66,7]

for i in l:
    if i%2==0:
        print(i,end=",")

18,4,44,66,

In [24]:
# find the odd numbers in the list
l= [18,4,44,5,66,7]

for i in l:
    if i%2!=0:
        print(i, end=",")

5,7,

In [31]:
# remove duplicates from the list

l= [2,4,5,6,7,3,4,5,9]
a= []

for i in l:
    if i not in a:
        a.append(i)

a.sort()
print(a)

[2, 3, 4, 5, 6, 7, 9]

In [32]:
# sqaures of element in a list
l= [2,4,5,6,7,3,4,5,9]
a=[]

for i in l:
    a.append(i*i)

print(a)

[4, 16, 25, 36, 49, 9, 16, 25, 81]

In [35]:
l= [2,4,5,6,7,3,4,5,9]
[i*i for i in l]

[4, 16, 25, 36, 49, 9, 16, 25, 81]

In [36]:
# filter even numbers
l= [2,4,5,6,7,3,4,5,9]
new_list=[]
for i in l:
    if i%2==0:
        new_list.append(i)

print(new_list)

[2, 4, 6, 4]

In [37]:
l= [2,4,5,6,7,3,4,5,9]

[i for i in l if i%2==0]

[2, 4, 6, 4]

In [40]:
a= ["hello","world"]
list_1=[]
for i in a:
    list_1.append(i.upper())
    
print(list_1)

['HELLO', 'WORLD']

In [41]:
a= ["hello","world"]

[i.upper() for i in a]

['HELLO', 'WORLD']