In [3]:
# Looping over a dicitionary

person= {

    "name": "John Doe",
    "sex": "male",
    "age": 32,
    "married": True
}

for key in person:
    print(f"key: {key}, values: {person[key]}")

key: name, values: John Doe
key: sex, values: male
key: age, values: 32
key: married, values: True

In [8]:
person= {

    "name": "John Doe",
    "sex": "male",
    "age": 32,
    "married": True
}

for value in person.values():
    print(value)

John Doe
male
32
True

In [5]:
for key in person:
    print(key)

name
sex
age
married

In [10]:
for key_value_pair in person.items():
    print(key_value_pair)

('name', 'John Doe')
('sex', 'male')
('age', 32)
('married', True)

In [11]:
for key,value in person.items():
    print(f"key:{key}, value:{value}")

key:name, value:John Doe
key:sex, value:male
key:age, value:32
key:married, value:True

In [18]:
#Range

for i in range(20):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,

In [19]:
for i in range(0,10):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,

In [20]:
for i in range(0,50,5):
    print(i, end=",")

0,5,10,15,20,25,30,35,40,45,

In [25]:
a_list= ["mon","tue","wed","thu","fri","sat","sun"]

for i in range(len(a_list)):
    print(f"the value at index {i} is {a_list[i]}")

the value at index 0 is mon
the value at index 1 is tue
the value at index 2 is wed
the value at index 3 is thu
the value at index 4 is fri
the value at index 5 is sat
the value at index 6 is sun

In [26]:
for i, val in enumerate(a_list):
    print(f"the value at index {i} is {val}")

the value at index 0 is mon
the value at index 1 is tue
the value at index 2 is wed
the value at index 3 is thu
the value at index 4 is fri
the value at index 5 is sat
the value at index 6 is sun

In [28]:
i=0
for val in a_list:
    print(f"index:{i} and value:{val}")
    i=i+1

index:0 and value:mon
index:1 and value:tue
index:2 and value:wed
index:3 and value:thu
index:4 and value:fri
index:5 and value:sat
index:6 and value:sun

In [29]:
"""Given a list colors = ['red', 'green', 'blue'],
print each color with its index using enumerate()"""

colors = ['red', 'green', 'blue']

for i, val in enumerate(colors):
    print(f" index:{i} and color:{val}")

 index:0 and color:red
 index:1 and color:green
 index:2 and color:blue

In [33]:
#Given nums = [10, 20, 30, 40, 50],
# print values that are at even indices (0, 2, 4...).

nums = [10, 20, 30, 40, 50]

for i, val in enumerate(nums):
    if i % 2==0:
        print(f" index:{i} and value:{val}")
    else:
        continue

 index:0 and value:10
 index:2 and value:30
 index:4 and value:50

In [39]:
#Reverse order

for i in range(len(nums)-1,-1,-1):
    print(f"index:{i} and value:{nums[i]}")

index:4 and value:50
index:3 and value:40
index:2 and value:30
index:1 and value:20
index:0 and value:10

In [41]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for day in weekdays:
    print(f"today is {day}")
    if day== "Wednesday":
        print("I don't work beyond wednesday")
        break

today is Monday
today is Tuesday
today is Wednesday
I don't work beyond wednesday

In [43]:
for day in weekdays:
    if day== "Wednesday":
        print("I dont work on wednesday")
        continue
    print(f"today is {day}")

today is Monday
today is Tuesday
I dont work on wednesday
today is Thursday
today is Friday

In [45]:
# Functions

# avg of 3 numbers

def avg(a,b,c):
    average= (a+b+c)/3
    return average

x= avg(2,4,8)
print(x)

4.666666666666667

In [46]:
# default parameters

def cal_prod(a,b=4):
    return a*b

prod= cal_prod(3)
print(prod)

12